.education-is-the,
.malcolm-x {
  margin: 0;
}
.lower-caption {
  position: absolute;
  top: 850px;
  left: 76px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-arimo);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 1331px;
  height: 140px;
}
.login-box {
  width: 757px;
  height: 543px;
  position: relative;
  border-radius: var(--br-28xl);
  background-color: var(--color-gainsboro);
  display: none;
  max-width: 100%;
}
.login-portal-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  bottom: -30px;
  left: -81px;
  background-color: rgba(41, 24, 230, 0.87);
  border: 6px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.login-portal {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.login-bg,
.login-bg-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.login-bg {
  width: 404px;
  justify-content: flex-start;
  position: relative;
}
.login-bg-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-28xl);
  box-sizing: border-box;
}
.username {
  width: 176px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.username-field {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-10xl) var(--padding-6xs) var(--padding-xl);
}
.username-bar {
  align-self: stretch;
  height: 81px;
  position: relative;
  border-radius: 14px;
  background-color: #fff7f7;
  z-index: 1;
}
.login-button {
  height: 77px;
  width: 220px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mid);
  background-color: var(--color-mediumblue-100);
  display: none;
}
.login {
  height: 41px;
  width: 154px;
  position: relative;
  font-size: var(--font-size-29xl);
  display: inline-block;
  font-family: var(--font-gentium-plus);
  color: var(--color-white);
  text-align: left;
  flex-shrink: 0;
  z-index: 2;
}
.login-label,
.login-label-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.login-label {
  cursor: pointer;
  border: 0;
  padding: 0 18px 36px;
  background-color: var(--color-mediumblue-100);
  height: 77px;
  width: 220px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mid);
  justify-content: flex-end;
  max-width: 102%;
  flex-shrink: 0;
  z-index: 1;
}
.login-label:hover {
  background-color: #4f40ff;
}
.login-label-wrapper {
  width: 234px;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
}
.forget-password {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  position: relative;
  font-size: 35px;
  font-weight: 700;
  font-family: var(--font-archivo-narrow);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.slogan-background,
.slogan-label {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.slogan-label {
  width: 420px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.slogan-background {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 23px;
  box-sizing: border-box;
}
.login-box-parent,
.username-field-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.username-field-parent {
  align-self: stretch;
  gap: 30px;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
}
.login-box-parent {
  position: absolute;
  top: 249px;
  left: 610px;
  border-radius: var(--br-28xl);
  background-color: var(--color-gainsboro);
  width: 757px;
  padding: 45px var(--padding-28xl) 25px 57px;
  box-sizing: border-box;
  gap: 92px;
}
.home-button,
.nav-bar2 {
  position: relative;
  max-width: 100%;
}
.nav-bar2 {
  height: 192px;
  width: 1440px;
  background-color: var(--color-gainsboro);
  display: none;
}
.home-button {
  margin: 0;
  width: 863px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.nav-bar-container,
.slogan-background1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.nav-bar-container {
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-3xl) 221px;
  box-sizing: border-box;
  min-height: 192px;
  max-width: 100%;
}
.slogan-background1 {
  border-radius: 60px;
  background-color: var(--color-white);
  z-index: 1;
}
.slogan {
  position: absolute;
  top: 1px;
  left: 20px;
  display: inline-block;
  width: 848px;
  height: 38px;
  z-index: 2;
}
.slogan-background-parent {
  height: 39px;
  width: 894px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.home-button-secondary {
  position: absolute;
  top: 137px;
  left: 562px;
  width: 878px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-11xl);
  font-family: var(--font-headland-one);
}
.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 192px;
  max-width: 100%;
  text-align: left;
  font-size: 96px;
  color: var(--color-black);
  font-family: var(--font-abhaya-libre);
}
.image-icon {
  position: absolute;
  top: 158px;
  left: 76px;
  border-radius: var(--br-27xl);
  width: 466px;
  height: 688px;
  object-fit: cover;
  z-index: 1;
}
.desktop-1 {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: #fffefe;
  font-family: var(--font-headland-one);
}
@media screen and (max-width: 1200px) {
  .nav-bar-container {
    padding-left: var(--padding-91xl);
    padding-right: var(--padding-91xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .login-portal,
  .lower-caption {
    font-size: var(--font-size-13xl);
  }
  .username {
    font-size: var(--font-size-5xl);
  }
  .login {
    font-size: var(--font-size-19xl);
  }
  .forget-password {
    font-size: 28px;
  }
  .home-button {
    font-size: var(--font-size-29xl);
  }
  .slogan {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 750px) {
  .nav-bar-container {
    padding-left: var(--padding-36xl);
    padding-right: var(--padding-36xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .login-portal,
  .lower-caption {
    font-size: var(--font-size-5xl);
  }
  .username {
    font-size: var(--font-size-lg);
  }
  .login {
    font-size: var(--font-size-10xl);
  }
  .forget-password {
    font-size: 21px;
  }
  .home-button {
    font-size: var(--font-size-10xl);
  }
  .nav-bar-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .slogan {
    font-size: var(--font-size-lg);
  }
}
